{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/components/dashboard.css' %}">
{% block style %}{% endblock %}
{% endblock stylesheets %}



{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block page_title %}{% trans 'Dashboard' %}{% endblock %}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    {% block page_actions %}{% endblock page_actions %}
                </div>
            </div>

            {% block dashboard_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script src="{% static 'assets/js/core/dashboard.js' %}"></script>
{% block dashboard_js %}{% endblock %}
{% endblock %}
{% endblock javascripts %}